<body>
  <div>
    <h1 class="account">Let's Eat Delicious Food .</h1>
    <div class="account-Verification" %>
    <div class="row">
      <div class="col-md-5">
        <%= link_to '新規登録', new_user_path, class: 'btn btn-primary signin-button' %>
       </div>
    
      <div class="col-md-7">
        <%= link_to 'アカウント', '#', class: 'btn btn-success login-button' %>
      </div>
    </div>
    </div>
  </div>
</body>